<footer>
	<button>Mention légal</button>
	<button>Propriétaire</button>
	<button>Assistance</button>
	<a id="facebook-icon-link" href="https://www.google.fr"><i class="fab fa-facebook-square fa-2x"></i></a>
	<a id="twitter-icon-link" href="https://www.google.fr"><i class="fab fa-twitter-square fa-2x"></i></a>
	<a id="youtube-icon-link" href="https://www.google.fr"><i class="fab fa-youtube-square fa-2x"></i></a>
	<button style="position: fixed;right: 0;">FAQ</button>
</footer>