<div id="header">
    <div id="logo">
        <a class="header_link" href="{{path('homepage')}}"><img src="{{ asset('favicon.ico') }}" alt="Retour à l'accueil"/></a>
    </div>
    <div id="pages">
        <a class="header_link" href="{{ path('download_game_index') }}">Télécharger</a>
    </div>
    <div id="profil">
        <i class="fas fa-circle-notch fa-2x fa-spin"></i>
    </div>
</div>
<div id="spacer">
</div>