<div id="header">
    <div id="logo">
        <a href="localhost:8000"><img src="{{ asset('favicon.ico') }}" alt="Retour à l'accueil"/></a>
    </div>
    <div id="pages">
        <a href="localhost:8000/stats">Stats</a>
        <a href="localhost:8000/download">Télécharger</a>
        <a href="localhost:8000/shop">Boutique</a>
    </div>
    <div id="profil">
        <a href="localhost:8000/login">Connexion</a>
    </div>
</div>