<div id="header">
    <div id="logo">
        <a href="{{path('homepage')}}"><img src="{{ asset('favicon.ico') }}" alt="Retour à l'accueil"/></a>
    </div>
    <div id="pages">
        <a href="">Stats</a>
        <a href="">Télécharger</a>
        <a href="">Boutique</a>
    </div>
    <div id="profil">
        <i class="fas fa-circle-notch"></i>
    </div>
</div>
<div id="spacer">
</div>