<div id="header">
    <div id="logo">
        <a class="header_link" href="{{path('homepage')}}"><img src="{{ asset('favicon.ico') }}" alt="Retour à l'accueil"/></a>
    </div>
    <div id="pages">
        <a class="header_link" href="{{ path('download_game_index') }}">Télécharger</a>
    </div>
    <div id="profil">
        <a class="header_link" href="{{path('appbundle_login_home')}}">Connexion</a>
    </div>
</div>
<div id="spacer">
</div>