/**************
*Footer
**************/

footer{
	position: fixed;
	left:0;
	bottom: 0;
	width:100%;
	height:50px;
	background-color: lightgrey;
	display:flex;
	align-items: center;
}

footer button{
	margin-left: 50px;
}

footer #facebook-icon-link{
	margin-left: 140px;
}

footer i{
	margin-right: 10px;
}

footer a{
	color: inherit;
	text-decoration: none;
}

footer #facebook-icon-link:hover > i{
	color:rgb(59,89,152);
}

footer #twitter-icon-link:hover > i{
	color:rgb(0,172,237);
}

footer #youtube-icon-link:hover > i{
	color:rgb(255,0,0);
}

footer button:hover{
	color : grey;
}

/*
*Header
*/

#header{
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	height: 50px;
	background-color: lightgrey;
	white-space: nowrap;
}

#header > div{
	display: inline-block;
	height: 100%;
	width:33%;
}

#spacer{
	top:0;
	width: 100%;
	height: 70px;
}

/*
*
*/

body{
	margin:auto;
	width: 100%;
	text-align:center;
}