{%extends 'base.html.twig'%}
{%block title%}Accueil{%endblock%}
{%block body%}
	<iframe width="560" height="315" src="https://www.youtube.com/embed/OHC939rNiH4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<p>A paragraph of text with on unassigned link.</p>
	<p>A second row of text with a web link</p>
	<p>Le jeu qui va changer votre vie !!!</p>
	<p>A paragraph of text with on unassigned link.</p>
	<p>A second row of text with a web link</p>
	<p>Le jeu qui va changer votre vie !!!</p>
	<p>A paragraph of text with on unassigned link.</p>
	<p>A second row of text with a web link</p>
	<p>Le jeu qui va changer votre vie !!!</p>
	<p>A paragraph of text with on unassigned link.</p>
	<p>A second row of text with a web link</p>
	<p>Le jeu qui va changer votre vie !!!</p>
	<p>A paragraph of text with on unassigned link.</p>
	<p>A second row of text with a web link</p>
	<p>Le jeu qui va changer votre vie !!!</p>
{%endblock%}

