{%extends 'base.html.twig'%}
{%block title%}Accueil{%endblock%}
{%block body%}
	<iframe width="560" height="315" src="https://www.youtube.com/embed/OHC939rNiH4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<p>Avec Tamere.io vous allez découvrir les nouveau jeu de l'année</p>
	<i>"Un design irréprochable"</i><br/><br/>
	<i>"Un gameplay unique"</i>
{%endblock%}

