{%extends 'base.html.twig'%}
{%block title%}Connexion{%endblock%}
{%block body%}
	<h1>Ta Mère.io</h1>
	<button id="inscritpion">Pas encore inscrit? Clique ici !</button>
	<div id="connexion">
	</div>
{%endblock%}

